<div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3">

        <form [formGroup] = "bookForm" (ngSubmit)="onSubmit()">


            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text"
                               id="name"
                               formControlName="name"
                               class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="imagePath">Image URl</label>
                        <input type="text"
                               id="imagePath"
                               formControlName="imagePath"
                               class="form-control"
                               #imgPath>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <img [src]="imgPath.value" class="img-fluid" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text"
                                  id="description"
                                  class="form-control"
                                  formControlName="description"
                                  rows="6">
                            </textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="fullDescription">Full description</label>
                        <textarea type="text"
                                  id="fullDescription"
                                  class="form-control"
                                  formControlName="fullDescription"
                                  rows="6">
                            </textarea>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="author">Author</label>
                        <input type="text"
                               id="author"
                               formControlName="author"
                               class="form-control"
                        >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <input type="text"
                               id="genre"
                               formControlName="genre"
                               class="form-control"
                        >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <button class="btn btn-success" type="submit" [disabled]="!bookForm.valid">Save</button>
                    <button  class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>